.Boddy{
   background-image : url("./components/Img/633151.jpg");
   background-repeat : no-repeat;
   background-size : cover;
   background-attachment: fixed;
   min-height : 100vh;
}

.App {
   text-align: center;
}

